<div id="heroimage">
  <div class="home-callout text-center container-fluid">
    
    <!--Insert Google Map-->
    <div id="map"></div>
    <script>
            function initMap() {
        // Styles a map in night mode.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 40.674, lng: -73.945},
          zoom: 12,
          disableDefaultUI: true,
          styles: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
          ]
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4slKJS_eiQXzw-CiEZfhxvfzVUmibe-w&callback=initMap">
    </script>
    
    
      <!--<i class="fa fa-angle-double-right bannerLogo"></i>-->
      <div class= "mapOverlay">
        <h1 id="title"> Project DeliverEase</h1>
        <div class="links">
            <h3> Integrated accounting, routing, and optimization for your business</h3>
        </div>
      </div>
  </div>
  
  <!--<div class="jumbotron jumbotron-fluid">-->
  <!--  <div class="container">-->
  <!--    <h1 class="display-3">Fluid jumbotron</h1>-->
  <!--    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>-->
  <!--    <a class="btn btn-primary btn-lg" href="about" role="button">Learn more</a>-->
  <!--  </div>-->
  <!--</div>-->
</div>   

<div class ="container home-signup-links">
   
    
    <div class="row">
        <div class="col-md-6">
            <div class="well">
            <h2 class="text-center">Basic Membership</h2>
            <h4 class="text-center">Sign up for free and start delivering now</h4>
            <br>
            <%= link_to "Sign up with Basic" , new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
            <h2 class="text-center">Pro Membership</h2>
            <h4 class="text-center">Sign up for a Pro Plan and supercharge your business</h4>
            <br>
            <%= link_to "Sign up with Pro" , new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
            </div>
        </div>
    </div>
</div>
