<div class="home-callout text-center container-fluid">
    <i class="fa fa-angle-double-right bannerLogo"></i>
    <!--<h1 id="title"> Alex Johnson</h1>-->
    <div class="links">
        <h3> Web Design </h3><h6>
        <i class="fa fa-circle"></i></h6> 
        <h3>Video Production </h3><h6>
        <i class="fa fa-circle"></i></h6>
        <h3>Photography </h3>
    
    </div>
</div>
